* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: rgba(58, 58, 58, 0.411);
}

header h1 {
    font-weight: bold;
    font-size : 60px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

/*Hero picture*/
.hero {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../assets/dino-background.jpg");
    background-size: cover;
    background-position: center;
    align-items: flex-start;
}

section {
    padding: 60px;
} 

.intro {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-size: 36;
    color: red;
    border-right: 3px solid;
    width: 30%;
}

.intro-text {
    line-height: 1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: right;
}

/*Section main style*/


.about-me-intro {
    display: flex;
}

.contact-info{
    line-height: 1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align:justify;
}
.contact-info ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-info nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
    align-items: center;
    list-style: none;
}